<ion-header>
  <ion-toolbar>
    <ion-title>Destacadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <img src="assets/img/vr.jpg" alt="Virgen de los Reyes">

    <ion-card-header>
      <ion-card-subtitle>Agrupación Musical</ion-card-subtitle>
      <ion-card-title>Virgen de los Reyes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Agrupación Musical de Sevilla con una gran tradición dentro de la música cofrade.
    </ion-card-content>

    <ion-button expand="block" href="https://www.google.com/search?q=Agrupaci%C3%B3n+Musical+Virgen+de+los+Reyes" target="_blank">
      Más información
    </ion-button>
  </ion-card>


  <ion-card>
    <img src="assets/img/sentencia.jpg" alt="La Sentencia">

    <ion-card-header>
      <ion-card-subtitle>Agrupación Musical</ion-card-subtitle>
      <ion-card-title>La Sentencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Agrupación Musical de Jerez de la Frontera dedicada a la música cofrade.
    </ion-card-content>

    <ion-button expand="block" href="https://www.google.com/search?q=Agrupaci%C3%B3n+Musical+La+Sentencia+Jerez" target="_blank">
      Más información
    </ion-button>
  </ion-card>


  <ion-card>
    <img src="assets/img/sjetriana.jpg" alt="San Juan Evangelista">

    <ion-card-header>
      <ion-card-subtitle>Banda de Cornetas y Tambores</ion-card-subtitle>
      <ion-card-title>San Juan Evangelista</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Banda de Cornetas y Tambores vinculada a la Semana Santa de Sevilla.
    </ion-card-content>

    <ion-button expand="block" href="https://www.google.com/search?q=San+Juan+Evangelista+Triana+banda" target="_blank">
      Más información
    </ion-button>
  </ion-card>


  <ion-card>
    <img src="assets/img/arahal.jpg" alt="Santa María Magdalena de Arahal">

    <ion-card-header>
      <ion-card-subtitle>Agrupación Musical</ion-card-subtitle>
      <ion-card-title>Santa María Magdalena de Arahal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Agrupación Musical de Arahal, una de las formaciones de referencia de la música cofrade.
    </ion-card-content>

    <ion-button expand="block" href="https://www.google.com/search?q=Agrupaci%C3%B3n+Musical+Santa+Mar%C3%ADa+Magdalena+de+Arahal" target="_blank">
      Más información
    </ion-button>
  </ion-card>

</ion-content>
